.facebook{
    
    position: relative;
    margin-left: 600px;
    bottom: 48px;
    font-size: 30px;
    
    .instagram{
    position:relative;
    margin-left: 680px;
    bottom: 82px;
    font-size: 30px;
  }
  .linkedin{
    position: relative;
    margin-left: 760px;
    bottom: 118px;
    font-size: 30px;
  }
  .twiter{
    position: relative;
    margin-left: 840px;
    bottom: 151px;
    font-size: 30px;
  }
   .youtube{
    position: relative;
    margin-left: 920px;
    bottom: 185px;
    font-size: 30px;
   }

}