.academy{
    position:absolute;
    margin-left: 470px;
    top:60px;

  .areas-of-study{
    position: absolute;
    margin-left:630px;
    top: 60px;
  }
  .corporative{
    position: absolute;
    margin-left: 820px;
    top: 60px;
  }
  .connection{
    position: absolute;
    margin-left: 970px;
    top: 60px;
  }
}