.teach{
    position: absolute;
    top: 30px;
    font-size: 30px
}
.area{
    font-size: 30px;
    position: relative;
    top: 80px;
}
.info{
    font-size: 20px;
    width: 100%;
    position: absolute;
    top: 200px;
}