.area::after{
    content: "";
    position: absolute;
    width: 150px;
    height: 5px;
    background-color: brown;
    bottom:300px;
 }
 .why-academy{
    position: relative;
    top:500px;
    display: flex;
    flex-wrap:nowrap;
    background-color:azure;
    width: 400px;
    height: 400px;
    margin-left: 200px;
}
.why::after{
    content: "";
    position: absolute;
    width: 200px;
    height: 5px;
    background-color: brown;
    bottom:280px;
}
.information{
    position: relative;
    top: 150px;
    right: 100px;
}
.why{
    position: relative;
    left: 50px;
}
.code-academy{
    position: relative;
    top: 30px;
    width: 100%;
}
.release-draft{
    display: flex;
    flex-wrap: nowrap;
    width: 200px;
    height: 200px;
    position: relative;
    margin-left: 300px;
    top: 600px;
}
.student-picture{
    position: relative;
    top: 800px;
}
 .stud-picture img{
    height: 10px;
}